* {
    font-size: 15px;
    color: hsl(0, 0%, 95%);
    font-family: 'Lexend Deca', sans-serif;
}

h1 {
    font-family: 'Big Shoulders Display', cursive;
    color: white;
    font-size: 2.5rem;
}

p {
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.8rem;
    padding-bottom: 10%;
}

img {
    padding-top: 20%;
}

button {
    padding: 6% 15%;
    border: 2px solid hsl(0, 0%, 95%);
    cursor: pointer;
    border-radius: 50px; 
}

.container {
    display: flex;
    height: 30rem;
    width: 45%;
}


.sedan {
    background-color: hsl(31, 77%, 52%);
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 10px 0 0 10px; 
}

.sedan button {
    background-color:hsl(31, 77%, 52%);
}

.suv {
    background-color: hsl(184, 100%, 22%);
    padding-left: 5%;
    padding-right: 5%;
}

.suv button {
    background-color:hsl(184, 100%, 22%);
}

.luxury {
    background-color: hsl(179, 100%, 13%);
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 0 10px 10px 0;
}

.luxury button {
    background-color: hsl(179, 100%, 13%);
}


@media only screen and (max-width: 1380px) {
    
    * {
        font-size: 12px;
    }

    .container {
        height: 45rem;
    }
}


@media only screen and (max-width: 750px) {
    * {
        font-size: 12px;
    }

    .container {
        flex-direction: column;
        width: 80%;
        margin: 10% 5%;
    }

    .sedan {
        border-radius: 10px 10px 0 0;
    }

    .luxury {
        border-radius: 0 0 10px 10px;
    }

    .sedan button {
        color:hsl(31, 77%, 52%);
        background-color: white;
        margin-bottom: 10%;
    }

    .suv button {
        color:hsl(184, 100%, 22%);
        background-color: white;
        margin-bottom: 10%;
    }

    .luxury button {
        color:hsl(179, 100%, 13%);
        background-color: white;
        margin-bottom: 10%;
    }
}





/* attribution section */

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }